<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/variables.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<body>

    <!-- HEADER -->
    <header>
        <div class="header-container">
            <div class="logo">
                <img th:src="@{/images/logo.png}" alt="Logo Loja ToyBox">
            </div>
            <p class="store-name">ToyBox</p>
        </div>
    </header>

    <main class="main-container">

        <!-- Menu Navigation -->
        <nav class="nav-container">
            <p class="main-title">Menu Principal</p>
            <div class="nav-list">
                <a th:href="@{/catalog/featured-toys}">
                    <p class="nav-item">Home</p>
                </a>
                <a th:href="@{/catalog/categories}">
                    <p class="nav-item">Catálogo de Brinquedos</p>
                </a>
                <a th:href="@{/admin/dashboard}">
                    <p class="nav-item">Administração</p>
                </a>
                <a th:href="@{/about}">
                    <p class="nav-item">Sobre a Equipe</p>
                </a>
            </div>
        </nav>

        <!-- Content -->
        <section class="content" layout:fragment="content">
        </section>

    </main>



</body>
</html>