<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <meta charset="UTF-8">
    <title>Admin | [[${title}]] Brinquedo</title>

    <link rel="stylesheet" th:href="@{/css/admin-input.css}">

</head>
<body>

    <section layout:fragment="content">

        <h1 class="main-title">[[${title}]] BRINQUEDO</h1>

        <!-- Alertas de Sucesso / Erro -->
        <div th:replace="~{fragments/alerts :: alerts}"></div>


        <form th:action="@{${action}}" th:object="${toy}" method="post" enctype="multipart/form-data">

            <!-- HiddenHttpMethodFilter - Fltro p/ Spring MVC substituir metodo "post" por "put" -->
            <input type="hidden" name="_method" th:value="${method}">

            <div th:replace="~{fragments/admin-input :: input-data}"></div>

        </form>


    </section>
</body>
</html>