<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <meta charset="UTF-8">
    <title>Admin | Dashboard</title>

    <link rel="stylesheet" th:href="@{/css/dashboard.css}">

</head>
<body>

    <section layout:fragment="content">

        <h1 class="main-title">ADMNISTRAÇÃO DE BRINQUEDOS</h1>

        <!-- Alertas de Sucesso / Erro -->
        <div th:replace="~{fragments/alerts :: alerts}"></div>

        <table class="table bg-primary table-hover custom-table table-bordered table-responsive-sm">
            <thead>
            <tr class="table-header">
                <th>Nome</th>
                <th>Categoria</th>
                <th>Valor</th>
                <th>Controles</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="toy : ${toys}" class="table-row">
                <td th:text="${toy.name}" class="align-middle"></td>
                <td th:text="${toy.category.name}" class="align-middle"></td>
                <td th:text="${toy.price}" class="align-middle text-center"></td>
                <td>
                    <div class="controls d-flex justify-content-evenly">

                        <a th:href="@{/admin/update-toy/{id}(id=${toy.id})}">
                            <button class="btn">Editar</button>
                        </a>

                        <!-- Botão Excluir -->
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            Excluir
                        </button>

                        <!-- Pop-up confirmação Excluir -->
                        <div id="deleteModal" class="modal fade" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header bg-danger text-white">
                                        <h5 class="modal-title" id="deleteModalLabel">
                                            Confirmar Exclusão
                                        </h5>
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="mb-0">Tem certeza que deseja remover este brinquedo?</p>
                                        <p class="confirm-delete-text">Esta ação não pode ser desfeita.</p>
                                    </div>
                                    <div class="modal-footer">

                                        <form th:action="@{/admin/remove-toy/{id}(id=${toy.id})}" th:method="post">

                                            <!-- HiddenHttpMethodFilter - Fltro p/ Spring MVC substituir metodo "post" por "delete" -->
                                            <input type="hidden" name="_method" value="delete">

                                            <button type="submit" class="btn btn-danger" id="confirmDelete">
                                                Remover
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Cancelar
                                            </button>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            </tbody>

        </table>

        <div class="d-flex gap-4 my-5">
            <a th:href="@{/admin/new-toy}">
                <button class="btn">Novo Brinquedo</button>
            </a>

            <a th:href="@{/admin/home}">
                <button class="btn">Voltar</button>
            </a>
        </div>


    </section>

</body>
</html>