<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <meta charset="UTF-8">
    <title>Toybox | Administração</title>

    <link rel="stylesheet" th:href="@{/css/dashboard.css}">

</head>
<body>

    <section layout:fragment="content">

        <h1 class="main-title">ADMNISTRAÇÃO DE BRINQUEDOS</h1>

        <!-- Alertas de Sucesso / Erro -->
        <div th:replace="~{fragments/alerts :: alerts}"></div>

        <table class="table table-striped table-hover custom-table">
            <thead>
            <tr class="table-header">
                <th>Nome</th>
                <th>Categoria</th>
                <th>Valor</th>
                <th>Controles</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="toy : ${toys}" class="table-row">
                <td th:text="${toy.name}"></td>
                <td th:text="${toy.category.name}"></td>
                <td th:text="${toy.price}"></td>
                <td>
                    <div class="controls">

                        <a th:href="@{/admin/update-toy/{id}(id=${toy.id})}">
                            <button class="crud-btn">Editar</button>
                        </a>

                        <!-- Botão Excluir -->
                        <button type="button" class="crud-btn" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            Excluir
                        </button>

                        <!-- Pop-up confirmação Excluir -->
                        <div id="deleteModal" class="modal fade" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header bg-danger text-white">
                                        <h5 class="modal-title" id="deleteModalLabel">
                                            Confirmar Exclusão
                                        </h5>
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="mb-0">Tem certeza que deseja remover este brinquedo?</p>
                                        <p class="confirm-delete-text">Esta ação não pode ser desfeita.</p>
                                    </div>
                                    <div class="modal-footer">

                                        <form th:action="@{/admin/remove-toy/{id}(id=${toy.id})}" th:method="post">

                                            <!-- HiddenHttpMethodFilter - Fltro p/ Spring MVC substituir metodo "post" por "delete" -->
                                            <input type="hidden" name="_method" value="delete">

                                            <button type="submit" class="btn btn-danger" id="confirmDelete">
                                                Remover
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Cancelar
                                            </button>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            </tbody>

        </table>

        <a th:href="@{/admin/new-toy}">
            <button class="crud-btn btn-new">Novo Brinquedo</button>
        </a>


        <!-- Bootstrap 5 + JS Bundle | Adicionar comportamentos dinâmicos nos Alertas -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    </section>

</body>
</html>