<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <title> Admin | Cadastro de Usuário</title>

    <link rel="stylesheet" th:href="@{/css/dashboard.css}">

</head>
<body>
<section layout:fragment="content">
    <h1 class="main-title">Cadastro de Usuário</h1>

    <!-- Alertas de Sucesso / Erro -->
    <div th:replace="~{fragments/alerts :: alerts}"></div>

    <form th:action="registration" th:object="${user}" method="post">

        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Nome Completo</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
                   th:field="*{name}" required>
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   th:field="*{email}" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1"
                   th:field="*{password}" required>
        </div>

        <div class="d-flex gap-4 my-5">
            <button type="submit" class="btn btn-primary">Cadastrar</button>

            <a th:href="@{/admin/home}">
                <button type="button" class="btn">Voltar</button>
            </a>
        </div>

    </form>



</section>
</body>
</html>