<!DOCTYPE html>
<html lang="pt-br">

<body>

        <nav class="menu-container" th:fragment="menu">
            <p class="menu-title">Menu Principal</p>
            <ul class="menu-list">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Catálogo de Brinquedos</a>
                </li>
                <li>
                    <a href="">Administração</a>
                </li>
                <li>
                    <a href="">Sobre a Equipe</a>
                </li>

            </ul>
        </nav>


</body>
</html>