

    <div th:fragment="toyCard(toy)">

        <div class="card d-flex flex-row">
            <img th:src="@{${toy.imageUrl}}" alt="Imagem do Brinquedo" class="card-image">

            <div class="card-details">
                <h3 th:text="${toy.name}">Nome do Brinquedo</h3>
                <p th:text="'R$ ' + ${toy.price}">Preço</p>
                <p th:text="'Marca:  ' + ${toy.brand}">Marca</p>
                <p th:text="${toy.description}">Descrição</p>
            </div>
        </div>

    </div>
