<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <meta charset="UTF-8">
    <title>Toybox | Sobre</title>
    <link rel="stylesheet" th:href="@{/css/display-cards.css}">
</head>
<body>
    <section layout:fragment="content">

        <h1 class="main-title">Sobre a Equipe</h1>

        <div class="container">

            <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                <img src="https://avatars.githubusercontent.com/u/118867345" alt="Foto da Gabriella">
                    <h5 class="fs-5 align-bottom">Gabriella Cristina Bueno</h5>
                    <p>RA: 1670482312017</p>
            </div>

            <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                <img src="https://avatars.githubusercontent.com/u/149019999" alt="Foto da Sara">
                    <h5 class="fs-5 align-bottom">Sara Robles Barbosa</h5>
                    <p>RA: 1670482312005</p>
            </div>

            <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                <img src="" alt="Foto do Vinícius">
                    <h5 class="fs-5 align-bottom">Vinícius Silva Andrioli</h5>
                    <p>RA:</p>
            </div>

        </div>

    </section>

</body>
</html>