<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <meta charset="UTF-8">
    <title>Toybox | Catálogo</title>

    <link rel="stylesheet" th:href="@{/css/display-cards.css}">
</head>
<body>

    <section layout:fragment="content">

        <h1 class="main-title">Categorias</h1>

        <div class="container">
            <div th:each="category : ${categories}">

                <a th:href="@{/catalog/category/{categoryName}/{id}
                    (categoryName=${#strings.replace(#strings.toLowerCase(category.name), ' ', '-')},
                    id=${category.id})}"
                   th:fragment="categoryCard(category)" class="card">

                    <img th:src="@{${category.imageUrl}}" alt="Imagem da Categoria">
                    <p th:text="${category.name}">Nome da Categoria</p>

                </a>            </div>
        </div>
    </section>
</body>
</html>