<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <meta charset="UTF-8">
    <title>Toybox | [[${category}]] </title>

    <link rel="stylesheet" th:href="@{/css/display-cards.css}">
</head>
<body>

    <section layout:fragment="content">

        <h1 class="main-title" th:text="${category}"></h1>

        <div class="container">

                <div th:if="${message}" class="alert alert-info" th:text="${message}"></div>

                <div th:each="toy : ${toys}">
                    <div th:replace="~{fragments/toy-simple-card :: toyCard(toy=${toy})}"></div>
                </div>

        </div>
    </section>

</body>
</html>