<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>Toybox | Home</title>
    <link rel="stylesheet" th:href="@{/css/display-cards.css}">
</head>

<body>

    <section layout:fragment="content">

        <h1 class="main-title">Brinquedos em Destaque</h1>

        <div class="container">

            <div th:each="toy : ${toys}">
                <div th:replace="~{fragments/toy-simple-card :: toyCard(toy=${toy})}"></div>
            </div>

        </div>

    </section>

</body>
</html>