<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>Toybox | Home</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>

    <section layout:fragment="content">
        <h1 class="main-title">Brinquedos em Destaque</h1>

        <div th:each="toy : ${toys}">
            <!-- Inclui o fragmento e passa o objeto toy como variável -->
            <div th:replace="~{fragments/toy-simple-card :: toyComponent(toy=${toy})}">
            </div>
        </div>
    </section>

</body>
</html>