<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <meta charset="UTF-8">
    <title>Toybox | Brinquedo</title>
    <link rel="stylesheet" th:href="@{/css/toy-full-card.css}">
</head>
<body>
    <h1>Brinquedo</h1>

    <section layout:fragment="content">

        <div class="container">

                <div th:replace="~{fragments/toy-full-card :: toyCard(toy=${toy})}"></div>
        </div>

    </section>

</body>
</html>