.content {
    font: 16px "Raleway", sans-serif;
    font-weight: 600;
}

.content a {
    display: inline-block;
    text-decoration: none;
    color: var(--white);


}

.content a:hover {
    background-color: var(--green);
    color: var(--dark-blue);
    font-weight: 700;
    opacity: 0.8;
    cursor: pointer;
    padding: 3px;
    border-radius: 10px;
}

.custom-table {

}

.custom-table th {
    font-weight: 800;
}

.custom-table th, .custom-table td {
    padding: 18px 50px;
    background-color: var(--purple);
    color: var(--dark-blue);
}

