
.table {
    border-radius: 20px;
    overflow: hidden;
    border-color: var(--primary);
}

.table-header > th {
    background-color: var(--primary);
    color: var(--white);
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

.table-row > td {
    background-color: var(--white);
    font-weight: 600;
    height: 25px;
}

.confirm-delete-text {
    color: grey;
    font-style: italic;
    margin-top: 10px;
}

