
table {
    border-collapse: separate;
    border-radius: 20px;
    overflow: hidden;
}

table,
table > td {
    border: 1px solid var(--background);
}

.table-header > th {
    background-color: var(--primary);
    color: var(--background);
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

.table-row > td {
    background-color: var(--background);
    font-weight: 600;
    height: 25px;
}

.controls {
    display: flex;
    justify-content: space-evenly;
}

.crud-btn {
    background: var(--primary);
    color: var(--white);
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
    font-weight: 600
}

.crud-btn:hover {
    background: var(--secondary);
    color: var(--primary);
}

.btn-new {
    background: var(--background);
    color: var(--primary);
    font-weight: 800;
    padding: 10px;
}

.confirm-delete-text {
    color: grey;
    font-style: italic;
    margin-top: 10px;
}

