
/* HEADER */

.header-container {
    display: flex;
    padding: 8px;
}

.line {
    border-bottom: 2px solid var(--primary);
    margin: 0 20px;
}


.logo {
    display: flex;
    margin-left: 10px;
}

.logo > img {
    max-width: 30px;
    display: block;
    margin: 5px 5px 0 0;
}

.store-name {
    font: 26px "Cherry Bomb One", system-ui;
    color: var(--primary);
    flex-grow: 1;
}

/* NAV-BAR */

.nav-link {
    font: 16px "Raleway", sans-serif;
    font-weight: 700;
    color: var(--primary);
}

.nav-link:hover {
    color: var(--secondary);
    white-space: nowrap;
}


/* MAIN CONTENT */

.content {
    font: 16px "Raleway", sans-serif;
    flex: 1;
    margin: 30px 100px;
}


.main-title {
    font: 24px "Raleway", sans-serif;
    font-weight: 900;
    text-align: center;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* BUTTONS */

.btn {
    background: var(--white);
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: 700;
}

.btn:hover {
    background: var(--primary);
    color: var(--white);
    border: none;
}

