body {
    background: var(--purple);
}

.header-container,
.main-container {
    margin: 5px;
}

.header-container,
.nav-container,
.nav-item,
.content
{
    border-radius: 20px;
}

.header-container,
.nav-container,
.content {
    background-color: var(--dark-blue);
}

/* HEADER */

.header-container {
    display: flex;
    padding: 8px 10px;
}

.store-name {
    font: 40px "Cherry Bomb One", system-ui;
    text-align: center;
    color: var(--green);
    flex-grow: 1;
}


.logo > img {
    max-width: 50px;
    display: block;
    margin: 8px;
    fill: var(--green);
}

/* CONTAINER PRINCIPAL - MENU NAV + CONTENT */

.main-container {
    display: flex;
    height: 100%;
}

/* CONTENT */

.content {
    flex: 1;
    padding: 30px;
}


/* MENU NAV */

.nav-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: fit-content;
    padding: 15px 15px 15px 1%;
    margin-right: 5px;
}

.main-title {
    font: 24px "Raleway", sans-serif;
    font-weight: 900;
    color: var(--green);
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
}

.nav-item {
    font: 18px "Raleway", sans-serif;
    font-weight: 600;
    color: var(--white);
    padding: 20px;
}

.nav-item:hover {
    background-color: var(--green);
    color: var(--dark-blue);
    font-weight: 700;
    opacity: 0.8;
    cursor: pointer;
}


