
/* HEADER */

.header-container {
    display: flex;
    padding: 10px;
}

.line {
    border-bottom: 2px solid var(--primary);
    margin: 0 20px;
}


.logo {
    display: flex;
}

.logo > img {
    max-width: 40px;
    display: block;
    margin: 5px 5px 0 0;
}

.store-name {
    font: 28px "Cherry Bomb One", system-ui;
    color: var(--primary);
    flex-grow: 1;
}


/* NAV-BAR */

.main-container {
    display: flex;
    height: 100%;
}

/* CONTENT */

.content {
    font: 16px "Raleway", sans-serif;
    flex: 1;
    padding: 30px;
}


/* MENU NAV */

.nav-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-bar {
    display: flex;
    gap: 4.5rem;
    margin-right: 80px;
    align-items: center;
}


.nav-item {
    font: 18px "Raleway", sans-serif;
    font-weight: 700;
    color: var(--primary);
}

.nav-item:hover {
    color: var(--secondary);
    cursor: pointer;
    white-space: nowrap;
}


.main-title {
    font: 24px "Raleway", sans-serif;
    font-weight: 900;
    text-align: center;
    color: var(--primary);
    text-transform: uppercase;
    padding: 8px 0;
}


