
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    padding: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--purple);
    padding: 30px;
    border-radius: 20px;
    width: fit-content;
}

.card:hover {
    background: var(--green);
}

.card > img {
    width: 250px;
    border-radius: 20px;
    margin-bottom: 8px;
}

.card > p {
    font: var(--font-text);
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-blue);
    margin-top: 15px;
    text-align: center;
}