
h1 {
    color: var(--green);
    margin: 15px 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--purple);
    padding: 10px;
    border-radius: 20px;
}

.card:hover {
    background: var(--green);
}

.card > img {
    width: 200px;
    border-radius: 20px;
    margin-bottom: 8px;
}

.card > p {
    font: var(--font-text);
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-blue);
    margin: 5px 0;
    text-align: center;
}