
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    padding: 30px;
}

.card {
    background: var(--primary);
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}

.card:hover {
    background: var(--secondary);
}

.card > img {
    width: 200px;
    border-radius: 20px;
    margin-bottom: 8px;
}

.card > p {
    font: var(--font-text);
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    margin: 8px;
    text-align: center;
}

.card > h5 {
    font: var(--font-text);
    font-weight: 630;
    color: var(--white);
    margin: 8px;
}

