

.header-container {
    display: flex;
    background-color: var(--primary-color);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 8px;
}

.name-container {
    flex-grow: 1;
}

h1 {
    font: 40px "Cherry Bomb One", system-ui;
    text-align: center;
    color: var(--secondary-color);
}


.logo > img {
    max-width: 60px;
    display: block;
    margin-left: 5px;
}

