.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}

h3 {
    color: var(--green);
    margin: 20px 0 30px 0;
    font: var(--font-text);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.card-image {
    width: 400px;
    border-radius: 20px;
    margin-bottom: 8px;
}


.card-details {
    padding: 20px;
    margin-left: 15px;
}

.card-details > p {
    font: var(--font-text);
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    margin: 20px 0;
    text-align: left;
}