.card {
    background: var(--primary);
    border: 0;
    border-radius: 20px;
    padding: 15px;
}


.card-image {
    width: 350px;
    border-radius: 20px;
    margin-bottom: 8px;
}

.card-details {
    padding: 20px;
    margin-left: 15px;
}

h3 {
    color: var(--white);
    margin-bottom: 80px;
    font: var(--font-text);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.card-details > p {
    font: var(--font-text);
    font-weight: 500;
    color: var(--white);
    margin: 20px 0;
    text-align: left;
}
