:root {
    --primary: #211951;
    --secondary: #00FF9C;
    --background: #9F70FD;
    --white: #fafafafa;
    --font-title: 40px "Cherry Bomb One", system-ui;
    --font-text: 22px "Raleway", sans-serif;
}