:root {
    --dark-blue: #211951;
    --purple: #9F70FD;
    --green: #00FF9C;
    --white: #fafafafa;
    --font-title: 40px "Cherry Bomb One", system-ui;
    --font-text: 22px "Raleway", sans-serif;
}